* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-size: 1.3rem;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

#gameboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  min-width: 50px;
  min-height: 50px;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
}
